*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.car{
    background: url(../img/hyundai-motor-group-r90ZgffimHk-unsplash.jpg) center / cover no-repeat;
}